body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    background-color: #eef2f3;
}

header {
    background: #008080;
    color: white;
    padding: 20px;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 15px;
}

nav ul li a {
    text-decoration: none;
    color: #008080;
    font-weight: bold;
}

.curso {
    background: white;
    padding: 15px;
    margin: 10px;
    display: inline-block;
    border-radius: 10px;
    width: 30%;
}

footer {
    margin-top: 20px;
    padding: 10px;
    background: #008080;
    color: white;
}