{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="container d-flex justify-content-center align-items-center" style="height: 80vh;">
        <div class="bg-success text-white p-4 rounded">
            <h1>Test de Traducción</h1>
            <p id="question"></p>
            <div id="options"></div>
            <p id="result"></p>
            <!--<button onclick="nextQuestion()">Siguiente pregunta</button>-->
        </div>
    </div>
    

    <script src="{% static 'scripts/script.js' %}"></script>
{% endblock %}
