{% extends 'base.html' %}
{% block content %}


<main class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <h1 class="text-center display-3 py-5">Tareas</h1>
            <ul class="list-group">
                {% for task in tasks %}
                    <a class="list-group-item" href="{% url 'tasks_detail' task.id %}">
                            <section class="d-flex justify-content-between">
                                {% if task.important %}
                                    <h1 class="fw-bold text-success">
                                        {{task.title}}
                                    </h1>
                                {% else %}
                                    <h2 class="fw-bold">
                                        {{task.title}}
                                    </h2>
                                {% endif %}
                                <p>{{task.user.username}}</p>
                            </section>
                            <p>{{task.descriptio}}</p>
                            
                            <p>{{task.datacompleted|date}}</p>
                    </a>
                {% endfor %}  
            </ul>

        </div>
    </div>

</main>

{% endblock %}

